/codificacao/ControleArmarios/nbproject/private/
/codificacao/ControleArmarios/build/
/codificacao/ControleArmarios/C:\ControleArmarios\prop\properties.etfg
/codificacao/ControleArmarios/C:\ControleArmarios\prop/
/codificacao/ControleArmarios/dist/
